<app-header>

</app-header>
<div class="container">
  <div clss="row">
    <div class="col-md-12">
      <h2>I'm working !</h2>
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
